name: Testing

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Enable Corepack
        run: corepack enable

      - name: Use Node LTS version
        uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version: 22

      ## --- YARN CACHE --- ##
      - name: Check for cached dependencies
        continue-on-error: true
        id: cache-dependencies
        uses: actions/cache@v4
        with:
          path: |
            .cache/yarn
            node_modules
          key: ubuntu-latest-node22-stylelint16-${{ hashFiles('yarn.lock') }}

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run build
        run: yarn build

      - name: Run test suite
        run: yarn test

  coverage:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Enable Corepack
        run: corepack enable

      - name: Use Node LTS version
        uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version: 22

      ## --- YARN CACHE --- ##
      - name: Check for cached dependencies
        continue-on-error: true
        id: cache-dependencies
        uses: actions/cache@v4
        with:
          path: |
            .cache/yarn
            node_modules
          key: ubuntu-latest-node22-stylelint16-${{ hashFiles('yarn.lock') }}

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run build
        run: yarn build

      - name: Run coverage report
        run: yarn coverage

      - name: Upload coverage data
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data-${{ github.run_id }}
          path: |
            coverage/coverage*.json

      - name: Coverage summary
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage/cobertura-coverage.xml
          format: 'markdown'
          output: 'both'

      - name: Add coverage PR comment
        uses: marocchino/sticky-pull-request-comment@v2.5.0
        with:
          recreate: true
          path: code-coverage-results.md

      - name: Write to job summary
        if: always()
        run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY
